html {
	font-size: 10px;
}

body {
	color: #181830;
}

h1 {
	font-size: 4.236rem;
}

h2, h3 {
	font-size: 2.618rem;
}

p {
	font-size: 1.618rem;
}

/*6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem
0.382rem
0.236rem*/

/*#5DBCD2*/

/*
#f0c060	0.565067
#c09048	0.139067
#181830	0.115911
#ffc060	0.049644
#a87848	0.042089

*/

.ui.container {
	margin-top: 15px;
}

#bio {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

#bio img {
	border-radius: .3125em;
	width: 100%;
	max-width: 500px;
	height: auto;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 20px;
}

#contact {
	text-align: center;
	margin: 15px;
}

.ui.cards {
	justify-content: center;
	margin: 20px auto;
}

.ui.cards>.card {
	flex-grow: 1.0;
	max-width: 500px;
}

.ui.cards>.card .button {
	margin: 5px;
}

.contactHalf {
	display: block;
}

.fa {
    padding: 1.0rem;
    font-size: 2.0rem !important;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px 5px;
}

.fa-facebook {
    color: #3B5998;
    background: #fff;
    border: 2px solid #3B5998;
}

.fa-facebook:hover {
    background: #3B5998;
    color: #fff;
}

.fa-linkedin {
    color: #0077b5;
    background: #fff;
    border: 2px solid #0077b5;
}

.fa-linkedin:hover {
    background: #0077b5;
    color: #fff;
}

.fa-medium {
    color: #00ab6c;
    background: #fff;
    border: 2px solid #00ab6c;
}

.fa-medium:hover {
    background: #00ab6c;
    color: #fff;
}

.fa-github {
    color: #000;
    background: #fff;
    border: 2px solid #000;
}

.fa-github:hover {
    background: #000;
    color: #fff;
}

.fa-envelope {
    color: #ffc060;
    background: #fff;
    border: 2px solid #ffc060;
}

.fa-envelope:hover {
    background: #ffc060;
    color: #fff;
}

.fa-file-text {
    color: #a87848;
    background: #fff;
    border: 2px solid #a87848;
}

.fa-file-text:hover {
    background: #a87848;
    color: #fff;
}

footer {
	text-align: center;
	margin: 0px auto;
	padding: 10px 0;
	width: 100%;
	background: #f0c060;
	color: black;
}

@media only screen and (min-width: 600px) {
	html {
		font-size: 11px;
	}
	.ui.container {
		margin-top: 20px;
	}
	.contactHalf {
		display: inline;
	}
}

@media only screen and (min-width: 800px) {
	html {
		font-size: 12px;
	}
	.ui.container {
		margin-top: 50px;
	}	
	#bio {
		flex-direction: row;
		justify-content: center;
		align-items: start;
	}
	#bio img {
		width: 40%;
	}
	#bio #words {
		width: 60%;
		padding-right: 20px;
	}


}

