/*	background: #ecf0f1; */

html {
	font-size: 10px;
}

body {
	margin: 15px;
}

h1 {
	font-size: 4.236rem;
}

h2, h3 {
	font-size: 2.618rem;
}

p {
	font-size: 1.618rem;
}

/*6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem
0.382rem
0.236rem*/

#bio {
	display: flex;
	flex-direction: column-reverse;
}

#bio img {
	border-radius: .3125em;
	width: 100%;
	height: auto;
}

#contact {
	text-align: center;
	margin: 15px;
}

.ui.cards {
	justify-content: center;
	margin: 20px auto;
}

.ui.cards>.card {
	flex-grow: 1.0;
}

.ui.divider {
	margin: 0 auto;
}
.fa {
    padding: 1.0rem;
    font-size: 2.0rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px 5px;
}

.fa-facebook {
    color: #3B5998;
    background: #fff;
    border: 2px solid #3B5998;
}

.fa-facebook:hover {
    background: #3B5998;
    color: #fff;
}

.fa-linkedin {
    color: #0077b5;
    background: #fff;
    border: 2px solid #0077b5;
}

.fa-linkedin:hover {
    background: #0077b5;
    color: #fff;
}

.fa-medium {
    color: #00ab6c;
    background: #fff;
    border: 2px solid #00ab6c;
}

.fa-medium:hover {
    background: #00ab6c;
    color: #fff;
}

.fa-github {
    color: #000;
    background: #fff;
    border: 2px solid #000;
}

.fa-github:hover {
    background: #000;
    color: #fff;
}

.buttons {
	text-align: center;
}

footer {
	text-align: center;
	margin: 15px auto;
}

@media only screen and (min-width: 600px) {
	html {
		font-size: 11px;
	}
	body {
		margin: 30px;
	}
}

@media only screen and (min-width: 800px) {
	html {
		font-size: 12px;
	}
	body {
		margin: 50px;
	}
	#bio {
		flex-direction: row;
		justify-content: center;
		align-items: start;
	}
	#bio > * {
		flex: 0 0 50%;
	}
	#bio img {
		width: 50%;
	}
	#bio #words {
		width: 50%;
		padding-right: 20px;
	}


}

